.bg1 {
  background-color: rgb(236, 186, 186);
}
.bg2 {
  background-color: rgb(172, 147, 231);
}
.bg3 {
  background-color: rgb(103, 151, 113);
}
.bg4 {
  background-color: rgba(244, 244, 244, 1);
}
.bg5 {
  background-color: rgba(255, 242, 241, 1);
}
